/*div::before{content:'';width:20+'px';height:auto;color:'red'}
.logo::after{content:'';width:20px;height:auto;background-color: red;color:red;;}*/
a::after{content: "";width: 50px;height:3.5px;background-color:white;color:white;position: absolute;top: 5px;transform: translate(-47px,0);}
.packages>a{color:white;}
a{z-index: 1;}